* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(15, 60px);
  justify-content: center;
}

.boxText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.handBox {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: lightgrey;
}

.hand {
  padding-top: 100px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(7, 60px);
}
